        <!-- Top Rated Product Widget -->
@await Component.InvokeAsync("_TopProps")

<!-- Menu Widget (Category) -->

@await Component.InvokeAsync("_TopRated")

<!-- Popular Post Widget -->
@await Component.InvokeAsync("_Leatest")

<!-- Social Media Widget -->
<div class="widget ltn__social-media-widget">
    <h4 class="ltn__widget-title ltn__widget-title-border-2">Follow us</h4>
    <div class="ltn__social-media-2">
        <ul>
            <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>

        </ul>
    </div>
</div>
<!-- Tagcloud Widget -->
<div class="widget ltn__tagcloud-widget">
    <h4 class="ltn__widget-title ltn__widget-title-border-2">Popular Tags</h4>
    <ul>
        <li><a href="#">Popular</a></li>
        <li><a href="#">desgin</a></li>
        <li><a href="#">ux</a></li>
        <li><a href="#">usability</a></li>
        <li><a href="#">develop</a></li>
        <li><a href="#">icon</a></li>
        <li><a href="#">Car</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Repairs</a></li>
        <li><a href="#">Auto Parts</a></li>
        <li><a href="#">Oil</a></li>
        <li><a href="#">Dealer</a></li>
        <li><a href="#">Oil Change</a></li>
        <li><a href="#">Body Color</a></li>
    </ul>
</div>

