@using DataEntities.Concrete
@model List<AppUser>

    <h1>Role List</h1>

    <table class="table table-bordered">
        <tr>
            <th>User</th>
            <th>Add Role</th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td><a href="/Member/Admin/AssignRole/@item.Id" class="btn btn-danger">Add Role</a></td>


            </tr>
        }

    </table>

